<div id="header">
	<h1>Kliring / RTGS</h1>
	<ul>
		<li><a ui-sref="main">Nazad</a></li>
		<li><a href="#">Products</a></li>
		<li><a href="#">Services</a></li>
		<li>Stanje: </li>
		<li style="color: #00ff00;" ng-show="stanjeAdd">  Dodavanje  </li>
		<li style="color: #33ccff;" ng-show="stanjeSearch">  Pretraga  </li>
		<li style="color: white;" ng-show="stanjePregled">  Pregled  </li>
		<li style="color: yellow;" ng-show="stanjeIzmena">  Izmena  </li>
	</ul>
</div>
<div id="main">
	<div class="main_body">
		<div id="tableContainer-1">
			<div id="tableContainer-2">
				<table id="myTable">
					<tr>
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="stanjePretrage()">
								<img src="css/images/search2.gif" height="30" />
						</button></td>
						
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="refreshLica()">
								<img src="css/images/refresh.png" height="30" />
						</button></td>
						<td ng-show="zoom || zoomRacuni"><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="zoomPickup()">
								<img src="css/images/export.jpg" height="30" />
						</button></td>
						
						<td>&nbsp</td>
						
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="levoDoKraja()">
								<img src="css/images/left.png" height="35" />
						</button></td>
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="jedanLevo()">
								<img src="css/images/left22.png" height="35" />
						</button></td>
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="jedanDesno()">
								<img src="css/images/right22.png" height="35" />
						</button></td>
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="desnoDoKraja()">
								<img src="css/images/right.png" height="35" />
						</button></td>
						
						<td>&nbsp</td>
						
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="stanjeDodavanje()">
								<img src="css/images/add.png" height="30" />
						</button></td>
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="deleteLice()">
								<img src="css/images/delete2.ico" height="30" />
						</button></td>
						
						<td>&nbsp</td>
						
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="nextFunction()">
								<img src="css/images/chain.jpg" height="35" />
						</button></td>
						<td ng-show="klikZaZoom">
							<select ng-model="izborNext" ng-change="nextFunction()">
								<option value=""> * Izaberite tabelu *</option>
								<option value="pravno_lice"> Pravno lice </option>
								<option value="racuni_klijenata"> Racuni klijenta </option>
							</select>
						</td>
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="toXml()">
								<img src="css/images/toXml.png" height="35" />
						</button></td>
					</tr>
				</table>
				
				<br/>
				<hr/>
				<br/>
				
				<table border="1">
					<tr>
						<th> ID </th>
						<th> Banka duznika </th>
						<th> Racun banke duznika </th>
						<th> Banka poverioca </th>
						<th> Racun banke poverioca </th>
						<th> Datum </th>
						<th> Datum valute </th>
						<th> Sifra </th>
						<th> Ukupno </th>
					</tr>
					<tr ng-repeat="list in lista" ng-click="setSelected(list.id, list.nazivBankeDuznika, list.racunBankeDuznika, list.nazivBankePoverioca, list.racunBankePoverioca, list.datum, list.datumValute, list.sifra, list.ukupno)" ng-class="{selected: list.id == sifraSelected}">
						<td> {{list.id}}</td>
						<td> {{list.nazivBankeDuznika}}</td>
						<td> {{list.racunBankeDuznika}}</td>
						<td> {{list.nazivBankePoverioca}}</td>
						<td> {{list.racunBankePoverioca}}</td>
						<td> {{list.datum | date:'dd.MM.yyyy.'}}</td>
						<td> {{list.datumValute | date:'dd.MM.yyyy.'}}</td>
						<td> {{list.sifra}}</td>
						<td> {{list.ukupno}}</td>
					</tr>
				</table>
			
			</div>
		</div>
		
		<br/>
		<hr/>
		<br/>
		
		<div>
			  <div id="tableContainer-1">
				<div id="tableContainer-2">
					<table id="myTable">
						<tr>
							<td> ID: </td>
							<td>
								 <input type="text" ng-model="sifraSelected" ng-show="stanjeIzmena || stanjePregled || stanjeAdd" disabled>
							     <input type="text" ng-model="sifraSelected" ng-show="stanjeSearch">
							</td>
						</tr>
						<tr>
							<td>  Naziv banke duznika: </td>
							<td>
								<input type="text" maxlength="120" ng-model="nazivBankeDuznika" ng-show="stanjeIzmena || stanjePregled || stanjeAdd" disabled>
								<input type="text" maxlength="120" ng-model="nazivBankeDuznika" ng-show="stanjeSearch">
							</td>
						</tr>
						<tr>
							<td>   Racun banke duznika:  </td>
							<td>
								  <input type="text" maxlength="120" ng-model="racunBankeDuznika" ng-show="stanjeIzmena || stanjePregled || stanjeAdd" disabled>
								  <input type="text" maxlength="120" ng-model="racunBankeDuznika" ng-show="stanjeSearch">
							</td>
						</tr>
						<tr>
							<td>    Naziv banke poverioca:  </td>
							<td>
								  <input type="text" maxlength="120" ng-model="nazivBankePoverioca" ng-show="stanjeIzmena || stanjePregled || stanjeAdd" disabled>
								  <input type="text" maxlength="120" ng-model="nazivBankePoverioca" ng-show="stanjeSearch">
							</td>
						</tr>
						<tr>
							<td>    Racun banke poverioca:  </td>
							<td>
								  <input type="text" maxlength="120" ng-model="racunBankePoverioca" ng-show="stanjeIzmena || stanjePregled || stanjeAdd" disabled>
								  <input type="text" maxlength="120" ng-model="racunBankePoverioca" ng-show="stanjeSearch">
							</td>
						</tr>
						<tr>
							<td>   Datum:  </td>
							<td>
								  <input type="date" ng-model="datum" ng-show="stanjeIzmena || stanjePregled || stanjeAdd" disabled>
								  <input type="date" ng-model="datum" ng-show="stanjeSearch">
							</td>
						</tr>
						<tr>
							<td> Datum valute: </td>
							<td>
								<input type="date" ng-model="datumValute" ng-show="stanjeIzmena || stanjePregled || stanjeAdd" disabled>
								<input type="date" ng-model="datumValute" ng-show="stanjeSearch">
							</td>
						</tr>
						<tr>
							<td> Sifra: </td>
							<td>
								<input type="text" ng-model="sifra" ng-show="stanjeIzmena || stanjePregled || stanjeAdd" disabled>
								<input type="text" ng-model="sifra" ng-show="stanjeSearch">
							</td>
						</tr>
						<tr>
							<td> Ukupno: </td>
							<td>
								<input type="text" ng-model="ukupno" ng-show="stanjeIzmena || stanjePregled || stanjeAdd" disabled>
								<input type="text" ng-model="ukupno" ng-show="stanjeSearch">
							</td>
						</tr>
					</table>
				</div>
			 </div>
			 <div style="text-align: center;">
				   	<button type="button" style="background-color: transparent; border-color: transparent;" ng-click="commitAction()">
										<img src="css/images/commit.png" height="30" />
					</button> &nbsp
					<button type="button" style="background-color: transparent; border-color: transparent;" ng-click="">
										<img src="css/images/delete2.ico" height="30" />
					</button>
			 </div>
		</div>
				
	</div>
</div>