<div id="header">
	<h1>Drzava</h1>
	<ul>
		<li><a ui-sref="main">Nazad</a></li>
		<li><a href="#">Products</a></li>
		<li><a href="#">Services</a></li>
		<li>Stanje: </li>
		<li style="color: #00ff00;" ng-show="stanjeAdd">  Dodavanje  </li>
		<li style="color: #33ccff;" ng-show="stanjeSearch">  Pretraga  </li>
		<li style="color: white;" ng-show="stanjePregled">  Pregled  </li>
		<li style="color: yellow;" ng-show="stanjeIzmena">  Izmena  </li>
	</ul>
</div>
<div id="main">
	<div class="main_body">
		<div id="tableContainer-1">
			<div id="tableContainer-2">
				<table id="myTable">
					<tr>
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="stanjePretrage()">
								<img src="css/images/search2.gif" height="30" />
						</button></td>
						
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="refreshState()">
								<img src="css/images/refresh.png" height="30" />
						</button></td>
						<td ng-show="zoom"><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="zoomPickup()">
								<img src="css/images/export.jpg" height="30" />
						</button></td>
						
						<td>&nbsp</td>
						
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="levoDoKraja()">
								<img src="css/images/left.png" height="35" />
						</button></td>
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="jedanLevo()">
								<img src="css/images/left22.png" height="35" />
						</button></td>
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="jedanDesno()">
								<img src="css/images/right22.png" height="35" />
						</button></td>
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="desnoDoKraja()">
								<img src="css/images/right.png" height="35" />
						</button></td>
						
						<td>&nbsp</td>
						
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="stanjeDodavanje()">
								<img src="css/images/add.png" height="30" />
						</button></td>
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="deleteState()">
								<img src="css/images/delete2.ico" height="30" />
						</button></td>
						
						<td>&nbsp</td>
						
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="findNaselja()">
								<img src="css/images/chain.jpg" height="35" />
						</button></td>
						<td ng-show="klikZaZoom">
							<select ng-model="izborNext" ng-change="findNaselja()">
								<option value=""> * Izaberite tabelu *</option>
								<option value="drzava_naselje"> Naseljena mesta</option>
								<option value="valute_drzava"> Valute</option>
							</select>
						</td>
					</tr>
				</table>
				
				<br/>
				<hr/>
				<br/>
				
				<table border="1">
					<tr>
						<th> Sifra kursne liste </th>
						<th> Datum donosenja </th>
						<th> Broj kursne liste </th>
						<th> Primenjuje se od </th>
						<th> Naziv banke </th>
					</tr>
					<tr ng-repeat="list in listaKursa" ng-click="setSelected(list.id, list.datum, list.brojListe, list.primenjujeSeOd, list.pib, list.nazivBanke)" ng-class="{selected: list.id === sifraSelected}">
						<td> {{list.id}}</td>
						<td> {{list.datum | date:'dd.MM.yyyy.'}}</td>
						<td> {{list.brojListe}}</td>
						<td> {{list.primenjujeSeOd | date:'dd.MM.yyyy.'}}</td>
						<td> {{list.nazivBanke}}</td>
					</tr>
				</table>
			
			</div>
		</div>
		
		<br/>
		<hr/>
		<br/>
		
		<div ng-show="!stanjePregled">
			<div id="tableContainer-1">
				<div id="tableContainer-2">
					<table id="myTable">
						<tr>
							<td> Sifra kursne liste: </td>
							<td>  <input type="text" ng-model="sifraSelected"  ng-show="stanjeIzmena || stanjePregled" disabled>
							 <input type="text" ng-model="sifraSelected"  ng-show="stanjeSearch || stanjeAdd"> </td>
						<tr>
						<tr>
							<td> Broj kursne liste: </td>
							<td> <input type="text" ng-model="brKursneListe"> </td>
						<tr>
							<tr>
							<td> Primenjuje se od: </td>
							<td> <input type="date" ng-model="primenjujeSeOd" value="{{primenjujeSeOd}}"> </td>
						<tr>
						<tr ng-show="zoomIcon">
							<td> Pib banke: </td>
							<td>
								  <input type="text" ng-model="pibBanka" ng-change="searchPL()" ng-show="stanjePregled" disabled>
								  <input type="text" ng-model="pibBanka" ng-change="searchPL()" ng-show="stanjeSearch || stanjeAdd || stanjeIzmena">
							</td>
							<td>
								 <button type="button" title="Izbor pravnog lica" style="background-color: transparent; border-color: transparent;" ng-click="zoomPick()" ng-show="stanjeSearch || stanjeAdd || stanjeIzmena">
									<img src="css/images/zoom.png" height="40" />
								 </button>
							</td>
						</tr>
						<tr ng-show="zoomIcon">
							<td>  Naziv banke:  </td>
							<td>
								  <input type="text" ng-model="nazivBanke" disabled>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<br/>
			<div style="text-align: center;">
			   	<button type="button" style="background-color: transparent; border-color: transparent;" ng-click="commitAction()">
									<img src="css/images/commit.png" height="30" />
				</button> &nbsp
				<button type="button" style="background-color: transparent; border-color: transparent;" ng-click="">
									<img src="css/images/delete2.ico" height="30" />
				</button>
			</div>
		</div>
				
	</div>
</div>
