<div id="header">
	<h1>Ukidanje racuna</h1>
	<ul>
		<li><a ui-sref="main">Nazad</a></li>
		<li><a href="#">Products</a></li>
		<li><a href="#">Services</a></li>
		<li>Stanje: </li>
		<li style="color: #00ff00;" ng-show="stanjeAdd">  Dodavanje  </li>
		<li style="color: #33ccff;" ng-show="stanjeSearch">  Pretraga  </li>
		<li style="color: white;" ng-show="stanjePregled">  Pregled  </li>
		<li style="color: yellow;" ng-show="stanjeIzmena">  Izmena  </li>
	</ul>
</div>
<div id="main">
	<div class="main_body">
		<div id="tableContainer-1">
			<div id="tableContainer-2">
				<table id="myTable">
					<tr>
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="stanjePretrage()">
								<img src="css/images/search2.gif" height="30" />
						</button></td>
						
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="refreshLica()">
								<img src="css/images/refresh.png" height="30" />
						</button></td>
						
						<td>&nbsp</td>
						
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="levoDoKraja()">
								<img src="css/images/left.png" height="35" />
						</button></td>
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="jedanLevo()">
								<img src="css/images/left22.png" height="35" />
						</button></td>
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="jedanDesno()">
								<img src="css/images/right22.png" height="35" />
						</button></td>
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="desnoDoKraja()">
								<img src="css/images/right.png" height="35" />
						</button></td>
						
						<td>&nbsp</td>
						
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="stanjeDodavanje()">
								<img src="css/images/add.png" height="30" />
						</button></td>
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="deleteLice()">
								<img src="css/images/delete2.ico" height="30" />
						</button></td>
						
						<td>&nbsp</td>
						
						<td><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="">
								<img src="css/images/chain.jpg" height="35" />
						</button></td>
					</tr>
				</table>
				
				<br/>
				<hr/>
				<br/>
				
				<table border="1">
					<tr>
						<th> ID </th>
						<th> Vlasnik </th>
						<th> Racun </th>
						<th> Banka </th>
						<th> Racun za prebacivanje </th>
						<th> Vlasnik racuna za prebacivanje</th>
						<th> Datum ukidanja </th>
					</tr>
					<tr ng-repeat="list in listaRacuna" ng-click="setSelected(list.id, list.nazivVlasnika, list.brRacuna, list.banka, list.racunZaPrebacivanje, list.vlasnikRacunaZaPrebacivanje, list.datum)" ng-class="{selected: list.id === sifraSelected}">
						<td> {{list.id}}</td>
						<td> {{list.nazivVlasnika}} </td>
						<td> {{list.brRacuna}}</td>
						<td> {{list.banka}}</td>
						<td> {{list.racunZaPrebacivanje}}</td>
						<td> {{list.vlasnikRacunaZaPrebacivanje}}</td>
						<td> {{list.datum | date:'dd.MM.yyyy.'}}</td>
					</tr>
				</table>
			
			</div>
		</div>
		
		<br/>
		<hr/>
		<br/>
		
		<!-- <div ng-show="!stanjePregled"> -->
		<div>
			 <div id="tableContainer-1">
				<div id="tableContainer-2">
					<table id="myTable">
						<tr>
							<td> ID: </td>
							<td>
								 <input type="text" ng-model="sifraSelected" ng-show="stanjeIzmena || stanjePregled" disabled>
								 <input type="text" ng-model="sifraSelected" ng-show="stanjeSearch || stanjeAdd">
							</td>
						</tr>

						<tr>
							<td>  Vlasnik racuna: </td>
							<td>
								<input type="text" ng-model="nazivVlasnika"  disabled>
							</td>
						</tr>
						<tr>
							<td>  Racun </td>
							<td>
								<input type="text" ng-model="brRacuna" disabled> 
							</td>
							<td>
								 <button type="button" style="background-color: transparent; border-color: transparent;" ng-click="zoomRacun()" ng-show="stanjeSearch || stanjeAdd">
									<img src="css/images/zoom.png" height="30" />
								 </button>
							</td>
						</tr>
						<tr>
							<td>  Banka </td>
							<td>
								<input type="text" ng-model="banka" disabled>
							</td>
						</tr>
						<tr>
							<td>  Racun za prebnacivanje</td>
							<td>
								<input type="text" ng-model="racunZaPrebacivanje" disabled>
							</td>
							<td>
								 <button type="button" style="background-color: transparent; border-color: transparent;" ng-click="zoomRacun2()" ng-show="stanjeSearch || stanjeAdd">
									<img src="css/images/zoom.png" height="30" />
								 </button>
							</td>
						</tr>
						<tr>
							<td>  Vlasnik racuna za prebacivanje</td>
							<td>
								<input type="text" ng-model="vlasnikRacunaZaPrebacivanje" disabled>
							</td>
						</tr>
						<tr ng-show="stanjePregled || stanjeSearch || stanjeIzmena">
							<td>  Datum ukidanja </td>
							<td>
								<input type="date" ng-model="datum" ng-show="stanjeIzmena || stanjePregled" disabled>
								<input type="date" ng-model="datum" ng-show="stanjeSearch">
							</td>
						</tr>
					</table>
				</div>
			 </div>
			   
			 <div style="text-align: center;">
				   	<button type="button" style="background-color: transparent; border-color: transparent;" ng-click="commitAction()">
										<img src="css/images/commit.png" height="30" />
					</button> &nbsp
					<button type="button" style="background-color: transparent; border-color: transparent;" ng-click="refreshLica()">
										<img src="css/images/delete2.ico" height="30" />
					</button>
			 </div>
		</div>
				
	</div>
</div>